<a href="https://colab.research.google.com/github/GabsAki/big-data2-final-project/blob/main/mongo_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reference: https://www.mongodb.com/developer/languages/python/atlas-databricks-pyspark-demo/

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=88b8addc49022e6cf9e0e5e57c77a07d37ac3c7159237b47c981ca78186b1be7
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
CONNECTION_STRING: str = "mongodb+srv://101512611:nxXrrEuGOgXBTzcZ@cluster0.sbzycsq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("tutorial") \
    .config("spark.mongodb.input.uri", CONNECTION_STRING) \
    .config("spark.mongodb.output.uri", CONNECTION_STRING) \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .getOrCreate()

In [ ]:
df = spark.read \
  .format("mongo") \
  .option("database", "big_data2") \
  .option("collection", "toronto_housing") \
  .load()

In [ ]:
df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- address: string (nullable = true)
 |-- details: string (nullable = true)
 |-- price: string (nullable = true)

In [ ]:
df.show()

+--------------------+--------------------+--------------------+-----------+
|                 _id|             address|             details|      price|
+--------------------+--------------------+--------------------+-----------+
|{668085cb7777c6f5...|135 Wynford Dr #7...|2 bds2 ba- Condo ...|  C$730,000|
|{668085cb7777c6f5...|46 Tangle Briarwa...|3 bds3 ba1,684 sq...|  C$848,800|
|{668085cb7777c6f5...|159 Dundas St E U...|1 bd1 ba- Condo f...|  C$569,000|
|{668085cb7777c6f5...|621 Sheppard Ave ...|2 bds2 ba- Condo ...|  C$669,888|
|{668085cb7777c6f5...|50 George Butchar...|2 bds1 ba- Condo ...|  C$559,900|
|{668085cb7777c6f5...|1 Benvenuto Pl #2...|1 bd2 ba- Condo f...|C$1,799,000|
|{668085cb7777c6f5...|19 Ashgrove Pl, T...|5 bds7 ba- House ...|C$3,999,000|
|{668085cb7777c6f5...|38 Lee Centre Dr ...|2 bds2 ba- Condo ...|  C$579,000|
|{668085cb7777c6f5...|1420 Dupont St #8...|1 bd1 ba- Condo f...|  C$479,000|
|{668085cb7777c6f5...|40 Portage Ave, T...|3 bds2 ba- House ...|  C$799,000|
|{668085cb7777c6f5...|30 Meadowglen Pl ...|1 bd2 ba- Condo f...|  C$475,000|
|{668085cb7777c6f5...|7 Kimbercroft Ct,...|3 bds3 ba- House ...|  C$849,999|
|{668085cb7777c6f5...|5 Saint Joseph St...|1 bd1 ba- Condo f...|  C$588,888|
|{668085cb7777c6f5...|28 Wellesley St E...|2 bds1 ba- Condo ...|  C$768,000|
|{668085cb7777c6f5...|9 Valhalla Inn Rd...|2 bds1 ba- Condo ...|  C$579,786|
|{668085cb7777c6f5...|83 Billings Ave, ...|4 bds2 ba800 sqft...|C$1,199,999|
|{668085cb7777c6f5...|284 Mill Rd PENTH...|2 bds2 ba1,226 sq...|  C$649,000|
|{668085cb7777c6f5...|278 A Bloor St E ...|2 bds2 ba- Condo ...|C$1,059,800|
|{668085cb7777c6f5...|750 Bay St #503, ...|2 bds2 ba- Condo ...|  C$938,000|
|{668085cb7777c6f5...|65 Harbour Sq #25...|2 bds2 ba- Condo ...|C$1,589,000|
+--------------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
df.select('address').show(5, False)

+----------------------------------------------+
|address                                       |
+----------------------------------------------+
|135 Wynford Dr #702, Toronto, ON M3C 0J4      |
|46 Tangle Briarway #9, Toronto, ON M2J 2M4    |
|159 Dundas St E UNIT 3904, Toronto, ON M5B 0A9|
|621 Sheppard Ave E #726, Toronto, ON M2K 0G4  |
|50 George Butchart Dr, Toronto, ON M3K 1Y2    |
+----------------------------------------------+
only showing top 5 rows

In [ ]:
import pyspark.sql.functions as F

split_col = F.split(df['address'], ',')
df = df.withColumn('zip_code', split_col.getItem(F.size(split_col) - 1))
df.show(5)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/column.py:460: FutureWarning: A column as 'key' in getItem is deprecated as of Spark 3.0, and will not be supported in the future release. Use `column[key]` or `column.key` syntax instead.
  warnings.warn(

+--------------------+--------------------+--------------------+---------+-----------+
|                 _id|             address|             details|    price|   zip_code|
+--------------------+--------------------+--------------------+---------+-----------+
|{668085cb7777c6f5...|135 Wynford Dr #7...|2 bds2 ba- Condo ...|C$730,000| ON M3C 0J4|
|{668085cb7777c6f5...|46 Tangle Briarwa...|3 bds3 ba1,684 sq...|C$848,800| ON M2J 2M4|
|{668085cb7777c6f5...|159 Dundas St E U...|1 bd1 ba- Condo f...|C$569,000| ON M5B 0A9|
|{668085cb7777c6f5...|621 Sheppard Ave ...|2 bds2 ba- Condo ...|C$669,888| ON M2K 0G4|
|{668085cb7777c6f5...|50 George Butchar...|2 bds1 ba- Condo ...|C$559,900| ON M3K 1Y2|
+--------------------+--------------------+--------------------+---------+-----------+
only showing top 5 rows

In [ ]:
df = df.withColumn('zip_code', F.regexp_replace(df['zip_code'], r'^ ON ', ''))
df.show(5)

+--------------------+--------------------+--------------------+---------+--------+
|                 _id|             address|             details|    price|zip_code|
+--------------------+--------------------+--------------------+---------+--------+
|{668085cb7777c6f5...|135 Wynford Dr #7...|2 bds2 ba- Condo ...|C$730,000| M3C 0J4|
|{668085cb7777c6f5...|46 Tangle Briarwa...|3 bds3 ba1,684 sq...|C$848,800| M2J 2M4|
|{668085cb7777c6f5...|159 Dundas St E U...|1 bd1 ba- Condo f...|C$569,000| M5B 0A9|
|{668085cb7777c6f5...|621 Sheppard Ave ...|2 bds2 ba- Condo ...|C$669,888| M2K 0G4|
|{668085cb7777c6f5...|50 George Butchar...|2 bds1 ba- Condo ...|C$559,900| M3K 1Y2|
+--------------------+--------------------+--------------------+---------+--------+
only showing top 5 rows